header {
  padding: 24px 0;

  h1 {
    flex: 1;
    margin: 0;
  }

  .city-selector {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 16px;
    width: 100%;

    label {
      margin-right: 4px;
    }

    & > div {
      flex: 1;
    }
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 24px;
}